[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
names = "*"
requests = "*"
customtkinter = "*"
flask = "*"
tk = "*"
openpyxl = "*"
validate-email-address = "*"
py3dns = "*"
tksheet = "*"
scrapy = "*"
pywebview = "*"
bs4 = "*"
selenium = "*"
fake-agent = "*"
fake-useragent = "*"

[dev-packages]

[requires]
python_version = "3.8"
